In [1]:
import sqlite3
db=sqlite3.connect("student_data.db")
cursor=db.cursor()

In [3]:
cursor.execute("create table student_data(phone_number int primary key ,email_id text,course_name text,fee_paid int)")

In [7]:
with open(r"C:\Users\hp\Downloads\raw.githubusercontent.com_training-ml_Files_main_DT_Students.csv")as file:
    no_records=0
    for row in file:
        cursor.execute("insert into student_data values(?,?,?,?)",row.split(","))
        db.commit()
        no_records+=1
print(no_records ,"record(s)inserted")

20 record(s)inserted

In [8]:
result=cursor.execute("select*from student_data")
for row in result:
    print(row)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [12]:
sql="delete from student_data where phone_number=9988776623"
cursor.execute(sql)

In [13]:
result=cursor.execute("select*from student_data")
for row in result:
    print(row)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)

In [27]:
sql="update student_data set course_name='python' where course_name='Data_Science'"
cursor.execute(sql)
db.commit()

In [28]:
result=cursor.execute("select * from student_data")
for row in result:
    print(row)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'python', 23000)